@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
	--spacing-sidenav-sm: 4rem;
	--spacing-sidenav-md: 16rem;
	--spacing-sidenav-lg: 20rem;

	--spacing-nav: 3.5rem;
	--color-background: var(--color-zinc-950);
	--color-text: var(--color-zinc-100);
	--spacing-sub-nav: calc(100svh - var(--spacing-nav));
	--font-sans: "Poppins", "sans-serif";
	--font-heading: "Ubuntu", "Poppins", "sans-serif";

	--animate-slide: slide 30s linear infinite;
	--animate-fade-in: fade-in 0.5s;
}

.px-auto {
	@apply px-6 sm:px-16 md:px-32 lg:px-48 xl:px-64;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}
