@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
	--max-content-width: 40em;

	--spacing-sidenav-sm: 4rem;
	--spacing-sidenav-md: 16rem;
	--spacing-sidenav-lg: 20rem;

	--spacing-nav: 3.5rem;

	--color-background: var(--color-zinc-950);
	--color-foreground: var(--color-zinc-100);

	--color-text-light: var(--color-zinc-100);
	--color-text-light-muted: var(--color-zinc-400);

	--color-text-dark: var(--color-zinc-950);
	--color-text-dark-muted: var(--color-zinc-800);

	--font-sans: "Poppins", "sans-serif";
	--font-heading: "Ubuntu", "Poppins", "sans-serif";

	--animate-slide: slide 30s linear infinite;
	--animate-fade-in: fade-in 0.5s;
}

@utility mx-responsive {
	--min-padding: 3rem;

	max-width: min(var(--max-content-width), 100% - var(--min-padding));
	margin: 0 auto;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}
